@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} */


html {
    --s: 7px; /* control the size*/
    --c1: #ebebeb;
    --c2: #ffffff;
    
    --c: var(--c1) 0 25%,var(--c2) 0 50%,#0000 0;
  }

.background {
    background:
      conic-gradient(from 180deg,var(--c)) 
      0/var(--s) var(--s),
      repeating-conic-gradient(from 90deg,var(--c))
      0/calc(3*var(--s)) calc(3*var(--s));
    width: 100vw;
    height: 100vh;
}


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.chatBg1 {
    --s: 20px; /* control the size*/
    --c1: #f2f2f2;
    --c2: #fafafa;
    
    --_g: #0000 8%,var(--c1) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c1) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c1) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c1) 0 67%,#0000 0 83%,var(--c1) 0 92%,#0000 0),
      var(--c2); 
    background-size: var(--s) var(--s);
}

.chatBg {
    background-color: #fafafa;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23f2f2f2' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: center;
}

.sharp-image {
    image-rendering: pixelated;
}
  
.codeBlock {
    display: flex;
}
.codeBlock > div {
    border-radius: 8px;
    background-color: #f3f4f6;
    overflow: hidden;
}
.codeBlock p {
    font-weight: bold;
    color: #059669;
    line-height: 175%;
    letter-spacing: 0.5px;
    text-wrap: nowrap;
}
.codeLanguage {
    padding: 0.5em;
    /* background-color: #eceef3; */
    border-bottom: solid 1px #e5e7eb;
    color: #059669;
    font-weight: lighter;
}
.codeInnerDiv {
    padding: 2em;
    max-width: 500px;
    max-height: 300px;
    overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
    .codeBlock > div {
        border-radius: 8px;
        background-color: #171717;
        overflow: hidden;
    }

    .codeLanguage {
        padding: 0.5em;
        /* background-color: #eceef3; */
        border-bottom: solid 1px #404040;
        color: #059669;
        font-weight: lighter;
    }

    .chatBg {
        background-color: #222222;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23262626' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
        background-position: center;
    }
}

b {
    font-weight: bold;
}

.gamesSubTab {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.gamesTab:hover .gamesSubTab {
    display: flex;
}

.agarioBg {
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(#efefef 2px, transparent 2px), linear-gradient(to right, #efefef 2px, #ffffff 2px);
    background-size: 36px 36px;
}

.card-input::placeholder {
    color: #404040;
}

#card {
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 1000px;
    gap: 2em;
}

#card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.7s ease;
    transform-style: preserve-3d;
    border: solid 1px rgb(60,60,60);
    border-radius: 5px;
    background-color: rgb(23,23,23);
}

#card-front, #card-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

#card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* #card:hover #card-inner {
    transform: rotateY(180deg);
} */

.card-hover {
    transform: rotateY(180deg);
}

#card-back-header {
    color: rgb(60,60,60);
    border-bottom: solid 1px rgb(60,60,60);
    width: 100%;
    padding: 0.5em 0;
    margin: 0;
}

#card-back-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 1em; */
    height: 100%;
}

.correct {
    color: #16a34a;
}

.incorrect {
    color: #dc2626;
    text-decoration: line-through;
}

.delete-card-button {
    background-color: #dc2626;
    color: white;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    border-radius: 100%;
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-weight: bold;
}

#alert-container {
    width: 100vw;
    height: 100vh;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.alert-box {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 6/5;
    border-radius: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border: solid 1px rgb(60,60,60);
}

.alert-box-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.alert-box-h1 {
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
}

.card-info {
    margin: 0;
    font-size: 2.5em;
    /* color: white; */
}

.alert-delete-confirm, .alert-delete-deny {
    border-radius: 50px;
    padding: 0.5em 1.25em;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
}

.alert-delete-confirm {
    background-color: #dc2626;
}

.alert-delete-deny {
    background-color: transparent;
    border: solid 1px rgb(60,60,60);
}

#card-check-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

#submit-card-check {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    font-size: 1.5em;
    padding: 8px;
    width: 33%;
}

.card-grid-item {
    border: none;
    font-size: 1em;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    min-width: 47px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* flex: auto; if I want them to grow */
}
.card-grid-item:hover {
    background-color: rgb(30,30,30);
}

#card-grid-item-h3 {
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px rgb(60,60,60);
    border-bottom: none;
    line-height: normal;
}

#percent-correct, #percent-incorrect {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
}

#percent-correct {
    color: #16a34a;
}

#percent-incorrect {
    color: #dc2626;
    border-left: solid 1px rgb(60,60,60);
}

#card-grid-percent-outer {
    height: 3px;
    width: 100%;
    background-color: rgb(60,60,60);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}